@import "tailwindcss";

@theme inline {
  --color-primary: #0284c7; /* sky-600 */
  --color-primary-hover: #0369a1; /* sky-700 */
  --color-secondary: #0f172a; /* slate-900 */
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased scroll-smooth;
  }
}
