@import "tailwindcss";

@theme inline {
  --color-primary: #d4af37; /* Luxury Gold */
  --color-primary-hover: #b5952f;
  --color-secondary: #0a192f; /* Deep Navy Blue */
  --color-secondary-light: #112240;
  --color-background: #f8fafc; /* Crisp, slightly cool white */
  --color-foreground: #0f172a;
  
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased scroll-smooth;
  }
}
